[Unit]
Description=LSG Plate Service
After=multi-user.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Environment=LANGUAGE=$LANG
Environment=LC_ALL=$LANG
WorkingDirectory=/usr/share/lsgplate
User=root
Type=idle
ExecStart=/usr/bin/python3 /usr/share/lsgplate/serial3.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target