<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WiFi du Plateau LSG</title>
    <link rel="icon" href="img/favicon.ico">
    <!-- CSS FILES -->
    <link rel="stylesheet" type="text/css" href="css/uikit.css">
</head>
<body class="uk-height-1-1">
<div class="uk-flex uk-flex-center uk-flex-middle">
  <div class="uk-position-bottom-center uk-position-small">
    <div class="uk-width-1-1 uk-text-center"><span class="uk-text-small uk-text-lighter uk-text-muted">Le Plateau LSG</span></div>
    <div class="uk-width-1-1 uk-text-center">
      <span class="uk-text-small uk-text-lighter uk-text-muted">Supporté par <a href="https://github.com/davesteele/comitup" title="Comitup" target="_blank" data-uk-tooltip>ComitUp</a></span>
    </div>
  </div>
  <div class="uk-width-large uk-padding-small">
    <div class="uk-width-1-1 uk-text-center">
      <span class="" uk-icon="icon: world; ratio: 5"></span>
      <p class="uk-text-large">Connexion au WiFi</p>
    </div>
    
    <div class="uk-margin">
      <div class="uk-width-1-1">
        <p>
          Pousser sur Connecter pour une connexion au réseau {{ ssid }}. <br><br>
          
          {% if mode == 'single' %}
          Ceci va interrompre le hotspot. Connectez-vous au réseau {{ ssid }} pour la suite.
          Et chercher la page {{ plate }}.local ou l'adresse IP du plateau<br><br>
          
          Si la connexion échoue, ce hotspot sera réactivé.<br><br>
          {% else %}
          Le hotspot va être préservé et ce service web continuer.<br><br>
          
          Si la connexion échoue, le service web sera restauré.<br><br>
          {% endif %}
        </p>
      </div>
      <form action="/connect" method="POST">
        <div class="uk-width-1-1 uk-text-center">
          <div class="uk-width-2-3">
            <input type="hidden" name="ssid" value="{{ ssid_encoded }}">
            <input class="uk-input" placeholder="Password (if required)" type="password" name="password">
          </div>
          <div class="uk-width-2-3">
            <button type="submit" value="Connect" class="uk-button uk-button-primary uk-width-expand">Connecter</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- JS FILES -->
<script src="js/uikit.js"></script>
<script src="js/uikit-icons.js"></script>
