<!DOCTYPE html>
<html lang="en" class="uk-height-1-1">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quelques questions sur le menu du jour</title>
  <link rel="icon" href="{{ url_for('favicon') }}">
  <!-- CSS FILES -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('send_css', path = 'uikit.css') }}">
</head>
<body class="uk-height-1-1">
  <div class="uk-flex uk-flex-center uk-flex-middle">
    <div class="uk-position-bottom-center uk-position-small">
      <span class="uk-text-small uk-text-muted">Plate control - Built by <a href="http://www.smartgastronomylab.be" title="Smart Gastronomy Lab" target="_blank" data-uk-tooltip>Smart Gastronomy Lab</a></span>
    </div>
    <div class="uk-width-large uk-padding-small">
      <div class="uk-width-1-1 uk-text-center">
        <span class="" uk-icon="icon: world; ratio: 5"></span>
        <p class="uk-text-large">Quelques questions...</p>
      </div>
      
      <div class="uk-width-1-1">
        <form>
          <fieldset class="uk-fieldset">
            
            <legend class="uk-legend">Le Menu du Jour</legend>

            <div class="uk-margin">
              <input class="uk-input" type="text" placeholder="Votre nom, p.e. Jules Verne" name="fullname">
            </div>
            
            <div class="uk-margin">
              <input class="uk-input uk-form-width-small uk-form-small" type="text" placeholder="Votre âge, p.e. 25" name="age">
            </div>
            
            <div class="uk-margin">
              <input class="uk-input uk-form-small" type="text" placeholder="Nombre de participants, p.e. 4" name="participants">
            </div>
            
            <div class="uk-margin">
              <label class="uk-form-label" for="mood">L'ambiance du jour</label>
              <select class="uk-select uk-form-width-small uk-form-small" id="mood" name="mood">
                <option>Joyeuse</option>
                <option>Normale</option>
                <option>Studieuse</option>
                <option>Triste</option>
                <option>Tendue</option>
              </select>
            </div>
            
            <div class="uk-margin">
              <textarea class="uk-textarea" rows="5" placeholder="Textarea"></textarea>
            </div>
            
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-radio" type="radio" name="radio2" checked> A</label>
              <label><input class="uk-radio" type="radio" name="radio2"> B</label>
            </div>
            
            <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-checkbox" type="checkbox" checked> A</label>
              <label><input class="uk-checkbox" type="checkbox"> B</label>
            </div>
            
            <div class="uk-margin">
              <input class="uk-range" type="range" value="2" min="0" max="10" step="0.1">
            </div>
            
          </fieldset>
        </form>
      </div>
      <div class="uk-width-1-1">
        <a href="{{ url_for('start_device', id=id) }}">
          <button class="uk-button uk-button-danger uk-button-large uk-margin-small-left uk-text-large" style="text-transform: none;">
            <span uk-icon="icon: lock"></span>Confirm
          </button>
        </a>
      </div>
    </div>
    <div class="uk-margin">
      <div class="uk-width-1-1">
      </div>
    </div>
  </div>
</div>

<!-- JS FILES -->
<script src="{{ url_for('send_js', path='uikit.js') }}"></script>
<script src="{{ url_for('send_js', path='uikit-icons.js') }}"></script>

</body>
</html>


